
body{
    
    color:'#fff',
    font-family: Anton,
    text-align: center

}

header:{
    background :"#03a9fa"
}

.logo {

    color:'#fff',
        font-family : Anton,
        text-align: center
}

